
@using 公司管理系统Model
@model web

@using (Html.BeginForm("Add", "Home", FormMethod.Post))
{
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">发布新文章</h4>
        </div>
        <div class="modal-body">
                    <div class="lui-table-body1" style="overflow:hidden;">
                        <table class="fd_table table table-striped">
                            <tbody class="fd_body1">
                                <tr>
                                    <th>用户ID:</th>
                                    <th>@Html.DropDownList("UserId")</th>
                                </tr>
                                <tr>
                                    <th>类型名称:</th>
                                    <th>@Html.DropDownList("web_typeID")</th>
                                </tr>
                                <tr>
                                    <th>标题:</th>
                                    <th>@Html.TextBoxFor(x => x.webHead) </th>
                                </tr>
                                <tr>
                                    <th>内容:</th>
                                    <th>@Html.TextAreaFor(x => x.webResult) (请输入您要发布的内容)</th>
                                </tr>
                                <tr>
                                    <th>评论类型:</th>
                                    <th>@Html.DropDownList("ReplayTypeID")</th>
                                </tr>
                                <tr>
                                    <th>可见:</th>
                                    <th>@Html.TextBoxFor(x => x.web_Condition) 只能是(可见/不可见)</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">保存笔记</button>
        </div>
    </div>
}