
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Proscenium/ProsceniumPage1.cshtml";
}

@Session style{
<link href="~/Content/bootstrap.css" rel="stylesheet" />
}

@using 公司管理系统Model
@model List<_class>

<table style="margin-top:100px" class="table table-hover">
    <tr>
        <th>上午</th>
        <th>下午</th>
        <th>学员名字</th>
        <th>学员名字</th>
        <th>日期</th>
        <th>要求</th>
    </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Morning</td>
                <td>@item.Afertnoon</td>
                <td>@item.User.UserName</td>
                <td>@item.User1.UserName</td>
                <td>@item.DataTime</td>
                <td>@item.require</td>
            </tr>
        }
</table>

