
@{
    ViewBag.Title = "HuoDong";
    Layout = "~/Views/Background/BackgroundPage1.cshtml";
}

@using 公司管理系统Model

<style>
    .div {
        min-height: 400px;
        margin-left: 10px;

    }
   .div h1 {
       display:flex;
       justify-content:center;
       align-items:center;
       margin:0px 0px;
         font-size:24px;
    }
   .div table {
       display:flex;
       justify-content:center;
       align-items:center;
       color:#000000;
        }
  .div table tr {
      display:block;
        padding:17px 0px;
        margin-bottom:10px;
        }  
   .div table tr td {
       min-width:120px;
       margin-right:10px;
       margin-left:10px;
   }
    .submit input{
        min-width:100px;
        background:#000000;
        color:#ffffff;
        margin-left:200px;
        
    }
   
    .o {
        padding-right:100px;
    }
     
   
</style>



<div class="div">
    <h1>活动策划</h1>
    @using (Html.BeginForm("HuoDong", "FinanceHT", FormMethod.Post)) {
    <table class="ta">
        <tr>
            <td>活动标题:</td>
            <td class="o"><input type="text" class="form-control" placeholder="活动标题" name="actionhead"  required></td>
            <td>活动日期:</td>
            <td ><input type="text" class="form-control" placeholder="活动时间" name="actiontime" value="@DateTime.Now" required></td>
            
        </tr>
        <tr>
            <td>活动所需经费:</td>
            <td class="o"><input type="text" class="form-control" placeholder="活动所需经费" name="actionneedmoney" required></td>

            <td>活动实际经费:</td>
            <td><input type="text" class="form-control" placeholder="活动实际经费" name="actionfactmoney" value="0" required></td>
        </tr>    

        <tr  class="o">
            <td>活动内容:</td>
            <td><input type="text" class="form-control" placeholder="活动内容" name="actionresult" size="78" requiredv></td>
            
        </tr>   
        <tr>
            <td>活动策划人:</td>
            <td  class="o">
                <select name="UserId" style="width:170px">
                    @foreach (var item in (List<User>)ViewBag.User)
                    {
                        <option value="@item.UserId">@item.UserName</option>
                    }
                </select>
            </td>
      
            <td>活动类型:</td>
            <td >
                <select name="actionTypeID" style="width:170px">
                    @foreach (var item in (List<actionType>)ViewBag.actionType)
                    {
                        <option value="@item.actionTypeID">@item.TypeName</option>
                    }
                </select>
            </td>
        </tr> 
        <tr>
            <td>是否批准:</td>
            <td class="o">
                <select name="actiontype"  style="width:170px">
                    <option value="未通过">未通过</option>
                </select>
            </td>
       
            <td>活动状态:</td>
            <td>
                <select name="action_Condition" style="width:170px">
                    <option value="可见">可见</option>
                </select>
            </td>
        </tr> 
        <tr>
            <td class="submit"><input type="submit"  value="添加" class="btn-group-justified btn-primary" /></td>
        </tr>
    </table>
    }
</div>

