
@{
    ViewBag.Title = "JiaoFeiJiLu";
    Layout = "~/Views/Background/BackgroundPage1.cshtml";
}
@using 公司管理系统Model
@model List<detail>

<style>
    .div_t {
     display: flex;
            justify-content: center;
            align-items: center;
    
    }
    
    .div h1 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px 0px;
            font-size:24px;
        }
    .div .div_us {
      display: flex;
            justify-content: center;
            align-items: center;
            margin:20px 0px;
    }
    .submit{
        background:#000000;
        color:#ffffff;
        min-width:100px;
    }
    .div table tr th {
        min-width:80px;
        text-align:center;
        margin-top:-10px;
    }
     .div table tr td {
        min-width:80px;
        text-align:center;
    }
    .count{
        text-align:center;
    }
      .count span{
        margin-right:20px;
    }
    .count_a {
    margin-right:20px;
    }
        
</style>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<div  class="div_t">
    <div class="div">
    <h1>员工缴费记录</h1>
        <div class="div_us">
            @using (Html.BeginForm("JiaoFeiJiLu", "FinanceHT", FormMethod.Post))
            {
                <p>
                    来源名称:<input type="text" name="MonryResult"/>
                    状态：<input type="radio" checked name="detail_Condition" value="全部" />全部
                    <input type="radio" name="detail_Condition" value="可见" />可见
                    <input type="radio" name="detail_Condition" value="不可见" />不可见
                    <input type="submit" value="查询" class="submit"/>
                </p>
            }
        </div>
    <table  class="table table-hover">
        <tr>
            <th>编号</th>
            <th>来源</th>
            <th>金额</th>
            <th>日期</th>
            <th>缴费人</th>
            <th>状态</th>           
            <th>操作</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MonryId</td>
                <td>@item.MonryResult</td>
                <td>@item.sum</td>
                <td>@item.MoneyTime</td>
                <td>@item.User.UserName</td>
                <td>@item.detail_Condition</td>
                <td><a href="~/ZhengLiang/FinanceHT/JiaoFeiDelete?id=@item.MonryId" class="btn-danger btn-block btn-danger">可见/不可见</a></td>
            </tr>
        }
        
    </table>
        <div class="count">
            <a href="~/ZhengLiang/FinanceHT/JiaoFeiJiLu?current=1" class="btn-primary btn-xs">首页</a>
            <a href="~/ZhengLiang/FinanceHT/JiaoFeiJiLu?current=@(ViewBag.currents)" class="count_a btn-success btn-sm">上一页</a>
            <span>@ViewBag.current/@ViewBag.zongye</span>
            <a href="~/ZhengLiang/FinanceHT/JiaoFeiJiLu?current=@(ViewBag.currentc)" class="btn-success btn-sm">下一页</a>
            <a href="~/ZhengLiang/FinanceHT/JiaoFeiJiLu?current=@ViewBag.zongye" class="btn-primary btn-xs">尾页</a>
        </div>
</div>
</div>

