
@{
    ViewBag.Title = "select";
    Layout = "~/Views/Background/BackgroundPage1.cshtml";
}

@section style{
<link href="~/Content/bootstrap.css" rel="stylesheet" />
}

@using 公司管理系统Model
@model List<score>

<table class="table table-hover">
    <tr>
        <th>扣分时间</th>
        <th>扣分人</th>
        <th>扣分原因</th>
        <th>所扣分数</th>
        <th>状态</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.PointId</td>
            <td>@item.User.UserName</td>
            <td>@item.system.systemName</td>
            <td>@item.system.systemPoint</td>
            <td>@item.score_Condition</td>
        </tr>
    }
</table>
<nav>
    <ul class="pager">
        <li class="previous"><a href="/LiuYi/Point/select?pageIndex=@(ViewBag.pageIndex-1)">上一页</a></li>
        <li class="next"><a href="/LiuYi/Point/select?pageIndex=@(ViewBag.pageIndex+1)">下一页</a></li>
    </ul>
</nav>
