
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Background/BackgroundPage1.cshtml";
}
@using 公司管理系统Model
@model List<Leave>

<style>
</style>
<div class="divtablemore">
    <table class="table table-bordered table-striped">
      
        <tr>
            <td> </td>
            <th>请假人</th>
            <th>请假时间</th>
            <th>返校时间</th>
            <th>请假原因</th>
            <th>是否批准</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td><img src="~/Content/images/@item.User.Userimg"style="width:40px; height:40px;" /></td>
                <td>@item.User.UserName</td>
                <td>@item.LeaveTime</td>
                <td>@item.LeaveResult</td>
                <td>@item.LeaveType</td>
                <td>@item.LeaveOver</td>
                <td class="text-center"><a href="/LiuXin/MangerLeave/JLagree?id=@item.LeaveId" class="btn-success btn-sm ">批准</a></td>
                <td class="text-center"><a href="/LiuXin/MangerLeave/JLdisagree?id=@item.LeaveId" class="btn-danger btn-sm">不批准</a></td>
            </tr>
        }
    </table>
    <a href="/LiuXin/MangerLeave/History" class="btn btn-success btn-sm" role="button">历史记录</a>
    <!-- Button trigger modal -->
</div>