
@{
    ViewBag.Title = "PersonUpdate";
    Layout = "~/Views/Background/BackgroundPage1.cshtml";
}
@using 公司管理系统Model;
@model User
@section style{
    <style type="text/css">
        .h3 {
            margin: 10px;
        }

        .text {
            border-radius: 5px;
            border: none;
            border: 1px solid #cdcdcd;
            height: 25px;
        }

        table {
            margin-left: 150px;
            font-size: 16px;
        }

            table tr td {
                padding-top: 15px;
                 padding-left:25px;
            }

            table tr td img{
               width:60px;
               height:60px;
            }
              form p{
        margin-top:20px;
        margin-left:100px;
    }
    </style>
}
<div class="h3">
    员工信息修改
</div>
<div>
    <form method="post" action="/LuoWei/Personnel/PersonUpdate" enctype="multipart/form-data">
        <input type="hidden" name="UserId" value="@Model.UserId" />
        <table>
            <tr>
                <td>员工姓名：</td>
                <td><input type="text" name="UserName" class="form-control" value="@Model.UserName" required /></td>
                <td>性别：</td>
                <td>
                    @if (Model.Sex == "男  ")
                    {
                        <span>男<input type="radio" value="男" name="Sex" required checked="checked" /></span>
                        <span>女<input type="radio" value="女" name="Sex" required /></span>
                    }
                    else if
                        (Model.Sex == "女  ")
                    {
                        <span>男<input type="radio" value="男" name="Sex" required /></span>
                        <span>女<input type="radio" value="女" name="Sex" required checked="checked" /></span>
                    }
                </td>
            </tr>

            <tr>
                <td>地址：</td>
                <td><input type="text" name="Adderss" class="form-control" required value="@Model.Adderss" /></td>
                <td>员工密码：</td>
                <td><input type="text" name="UserPwd" class="form-control" required value="@Model.UserPwd" /></td>
            </tr>
            <tr>
                <td>电话号码：</td>
                <td><input type="text" name="Phone" class="form-control" required value="@Model.Phone" /></td>
                <td>部门：</td>
                <td>
                    <select name="DepartmentId" class="form-control" required>
                        @foreach (var item in (List<Sys_Department>)ViewData["Sys_Department"])
                        {
                            if (Model.DepartmentId == item.DepartmentId)
                            {

                                <option value="@item.DepartmentId" selected>@item.DepartmentName</option>
                            }
                            else
                            {
                                <option value="@item.DepartmentId">@item.DepartmentName</option>
                            }
                        }
                    </select>
                </td>
            </tr>

            <tr>
                <td>邮箱：</td>
                <td><input type="text" name="Email" class="form-control" required value="@Model.Email" /></td>
                <td>出生日期：</td>
                <td><input type="text" name="Birth" class="form-control" required value="@Model.Birth" /></td>
            </tr>
            <tr>
                <td>员工头像：</td>
                <td><input type="file" name="Userimg" required/>
                <img src="~/Content/images/@ViewBag.FileName"/>
                </td>
                <td>入职状态：</td>
                <td>
                    <input name="User_Condition" class="form-control" value="@Model.User_Condition" required/>
                    @*<select name="User_Condition" class="form-control" required>

                        if(@((Model.User_Condition).Equals("在职")){

                        <option value="@Model.User_Condition" selected="selected">在职</option>

                        }else{
                        <option value="@Model.User_Condition" >在职</option>
                        }
                        
                        if(@((Model.User_Condition).Equals("试用")){
                        
                        <option value="@Model.User_Condition" selected="selected">试用</option>

                        }else{
                        <option value="@Model.User_Condition"  >试用</option>
                        }

                         if(@((Model.User_Condition).Equals("离职")){

                        <option value="@Model.User_Condition" selected="selected">离职</option>
                        }else{
                        <option value="@Model.User_Condition" >离职</option>
                        }

                    </select>*@
                </td>
            </tr>
            <tr>
                <td>员工分数：</td>
                <td><input type="text" name="Userscore" class="form-control" required value="@Model.Userscore" /></td>
            </tr>
        </table>
        <p>
            <input type="submit" value="提交" class="btn btn-danger" />
            <input type="reset" value="重置" class="btn btn-danger" />
        </p>
    </form>
</div>
