
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Proscenium/ProsceniumPage1.cshtml";
}
@using 公司管理系统Model
@section style{

    <style>
    * {
        margin: 0px;
        padding: 0px;
    }

    .banner {
        width: 1320px;
        height: 700px;
        background-color: #fed93a;
        margin-top: 20px;
        margin-left: 20px;
        margin: 0px auto;
        overflow: hidden;
        position: relative;
    }

        .banner .pic ul li {
            list-style: none;
        }

    .left {
        width: 30px;
        height: 50px;
        position: absolute;
        top: 300px;
        left: 20px;
        background-color: rgba(0,0,0,0.5);
        color: #fff;
        text-align: center;
        line-height: 50px;
    }

    .right {
        width: 30px;
        height: 50px;
        position: absolute;
        top: 300px;
        right: 20px;
        background-color: rgba(0,0,0,0.5);
        color: #fff;
        text-align: center;
        line-height: 50px;
    }

    .dot {
        position: absolute;
        width: 124px;
        height: 30px;
        bottom: 30px;
        left: 700px;
        background-color: rgba(0,0,0,0.3);
        border-radius: 15px;
    }

        .dot ul li {
            list-style: none;
            width: 15px;
            height: 15px;
            border-radius: 100%;
            background-color: #fff;
            float: left;
            margin: 7px 8px;
        }

            .dot ul li:hover {
                background-color: #cd0b2d;
            }


    .shen {
        background-image: url(/Content/images/7-1.jpg);
        width: 300px;
        height: 300px;
        text-align: center;
    }

    .shen2 {
        background-image: url(/Content/images/4-1.jpg);
        width: 300px;
        height: 300px;
        text-align: center;
    }

    .shen3 {
        background-image: url(/Content/images/4-1.jpg);
        width: 300px;
        height: 300px;
        text-align: center;
    }

    a:hover {
        color: gold;
        text-decoration: solid;
    }
        .body {
        background-color:#000000;
             }
</style>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
        $(function () {
            var num = 1;
            var timer;
            var hasStarted = false;
            $(".banner .left").click(function () {
                stop();
                --num;
                num = num % $(".pic li").size();
                showpic(num);
            });
            $(".banner .right").click(function () {
                stop();
                ++num;
                num = num % $(".pic li").size();
                showpic(num);
            });
            function showpic(index) {
                $(".pic li").eq(index).show().siblings().hide();
                $(".dot li").eq(index).css("background", "Gold").siblings().css("background", "#fff");
            }
            $(".dot li").hover(function () {
                stop();
                num = $(this).index();
                $(".pic li").eq(num).show().siblings().hide();
                $(this).css("background", "Gold").siblings().css("background", "#fff");
            }, start);
            $(".pic li").each(function (index) {
                $(this).hover(function () {
                    stop();
                    show(index);
                    num = index + 1;
                }, start)
            });
            function start() {
                if (!hasStarted) {
                    hasStarted = true;
                    timer = setInterval(function () {
                        showpic(num);
                        num++;
                        if (num == $(".pic li").size()) {
                            num = 0;
                        }
                    }, 2000);
                }
            }
            function stop() {
                clearInterval(timer);
                hasStarted = false;
            }
            start();
        });
</script>


}

<div class="body">
    <div style="height:200px">
        <p style="font-size:50px;color:aliceblue;text-align:center; padding-top:110px;">欢迎您来到湖南甲壳虫科技有限公司</p>
    </div>

    <div class="banner">
        <div class="pic">
            <div class="left"><</div>
            <ul>
                <li>
                    <a>
                        <img src="~/Content/images/1.jpg">
                    </a>
                </li>
                <li>
                    <a>
                        <img src="~/Content/images/2.jpg">
                    </a>
                </li>
                <li>
                    <a>
                        <img src="~/Content/images/5.jpg">
                    </a>
                </li>
                <li>
                    <a>

                        <img src="~/Content/images/4.jpg">
                    </a>
                </li>
            </ul>
            <div class="right">></div>
        </div>
        <div class="dot">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div>
        <p style="font-size:50px;color:aliceblue;text-align:center; padding-top:110px;">以互联网为基础的科技和文化公司</p>
        <p style="font-size:30px;color:aliceblue;text-align:center; padding-top:50px;">甲壳虫,2019年5月诞生于湖南株洲,是一家以互联网为基础的科技和文化公司。</p>
        <p style="font-size:30px;color:aliceblue;text-align:center; padding-top:50px;">我们的使命是:"通过互联网服务提升人类生活品质"。</p>
        <p style="font-size:30px;color:aliceblue;text-align:center; padding-top:50px;">甲壳虫秉承着"为用户提供最优质的服务"的理念,致力于为亿万网民提供优质的互联网综合服务。</p>
        <p style="font-size:20px;color:aliceblue;text-align:center; padding-top:50px;"><a href="#" style="text-decoration:none;">了解更多></a></p>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 ">
                    <div class="shen">
                        <br /><br />

                        <span style="color:aliceblue;font-size:30px;">生活</span><br /><br /><br />
                        <span style="color:aliceblue;font-size:20px;">丰富精神生活</span><br />
                        <span style="color:aliceblue;font-size:10px;">
                            <a href="#" style="color:aliceblue;
            text-decoration:none;">了解更多 ></a>
                        </span>
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 ">
                    <div class="shen2">
                        <br /><br />
                        <span style="color:aliceblue;font-size:30px;">娱乐</span><br /><br /><br />
                        <span style="color:aliceblue;font-size:20px;">享受健康生活</span><br />
                        <span style="color:aliceblue;font-size:10px;">
                            <a href="#" style="color:aliceblue;
            text-decoration:none;">了解更多 ></a>
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 ">
                    <div class="shen3">
                        <br /><br />
                        <span style="color:aliceblue;font-size:30px;">学习</span><br /><br /><br />
                        <span style="color:aliceblue;font-size:20px;">畅游知识海洋</span><br />
                        <span style="color:aliceblue;font-size:10px;">
                            <a href="#" style="color:aliceblue;
            text-decoration:none;">了解更多 ></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="i">
            <table class="ai table table-responsive " border="1" style="color:white">


                <text style="text-align:center"><a href="~/LiuYi/work/Index" class=" btn btn-danger">本周课表</a></text>
                <tr>
                    <th class="text-center">日期</th>
                    <th class="text-center">上午课表</th>
                    <th class="text-center">上午课表</th>
                    <th class="text-center">卫生人员</th>
                    <th class="text-center">卫生人员</th>
                    <th class="text-center">注意事件</th>
                </tr>
                @foreach (var item in ViewBag.Use1)
            {
                    <tr class="text-center">
                        <td>@item.DataTime</td>
                        <td>@item.Morning</td>
                        <td>@item.Afertnoon</td>
                        <td>@item.User.UserName</td>
                        <td>@item.User1.UserName</td>
                        <td>@item.require</td>
                    </tr>
                }


            </table>
        </div>
        <div class="container-fluid" id="o">
            <div class="row">
                <div class="col-sm-6">

                    <table border="1" class="table table-responsive" style="color:white">
                        <text style="text-align:center"><a href="~/LiaoWeiYing/Home/Index" class="btn btn-warning">最热讨论</a></text>
                        <tr>
                            <th>标题</th>
                            <th>文章类型</th>
                            <th>发布人</th>
                            <th>发布时间</th>
                            <th>点赞量</th>
                        </tr>
                        @foreach (var item in (List<web>)ViewBag.Use3)
                        {
                            <tr>
                                <td><a>@item.webHead</a></td>
                                <td>@item.web_type.web_typeName</td>
                                <td>@item.User.UserName</td>
                                <td>@item.webtime</td>
                                <td>@item.like</td>
                            </tr>
                        }

                    </table>

                </div>
                <div class="col-sm-6">
                    <table border="1" class="table table-responsive" style="color:white;">
                        <text style="text-align:center"><a href="~/ZhengLiang/FinanceQT/Show" class="btn btn-primary">最新活动</a></text>
                        <tr>
                            <th>标题</th>
                            <th>策划人</th>
                            <th>活动时间</th>
                            <th>所需金额</th>
                            <th>实际金额</th>
                        </tr>
                        @foreach (var item in (List<action>)ViewBag.Use2)
                        {
                            <tr>
                                <td><a>@item.actionhead</a></td>
                                <td>@item.User.UserName</td>
                                <td>@item.actiontime</td>
                                <td>@item.actionneedmoney</td>
                                <td>@item.actionfactmoney</td>
                            </tr>
                        }

                    </table>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10 ">
                <p style="font-size:50px;color:aliceblue;text-align:center; padding-top:110px;" class="col-lg-2 col-sm-2 col-md-2 col-xs-2"></p>
                <video controls="controls" autoplay="autoplay" style="text-align:center; width:1300px"  class="col-lg-8 col-sm-8 col-md-8 col-xs-8">
                    <source src="~/Content/images/%e5%8c%97%e5%a4%a7%e9%9d%92%e9%b8%9f%e5%ae%98%e6%96%b92017%e6%9c%80%e6%96%b0%e5%ae%a3%e4%bc%a0%e7%89%87-%e5%9b%bd%e8%af%ad%e6%b5%81%e7%95%85.mp4" type="video/mp4" />
                </video>
                <p style="font-size:50px;color:aliceblue;text-align:center; padding-top:110px;" class="col-lg-2 col-sm-2 col-md-2 col-xs-2"></p>
            </div>

        </div>
    </div>
</div>
